#country-name {
    border-radius: 5%;
    border: 2px solid blanchedalmond;
    color: blanchedalmond;
    width: fit-content;
    font-family: 'Roboto', sans-serif;
    margin-left: 13vw;
    padding: 5px;
    height: 20px;
    box-shadow: 5px 5px 1px 1px rgba(255, 216, 157, 0.733);
    min-width: 40px; 
}

