#country-name {
    border-radius: 5%;
    border: 2px solid blanchedalmond;
    color: blanchedalmond;
    width: fit-content;
    margin-left: 150px;
    padding: 5px;
    height: 20px;
    min-width: 50px; 
}

