
h2 {
    text-shadow: black 2px 3px;
    font-size: 32px;
    font-weight: bold;
}

.first-p {
    margin-top: 4vw;
}

.start-info p {
    text-shadow: black 2px 3px;
    font-size: 18px;
    margin-top: 20px 0;
    font-weight: bold;
}

#close-initial-modal {
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    font-size: 16px;
    text-decoration: none;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
}

#close-initial-modal:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}


// @media screen and (max-width: 150em){
//     #initial-modal {
//         display: none;
//     }
// }

.start-info {
    max-width: 50vw; /* Set maximum width to 50% of the viewport width */
    overflow-y: auto; /* Enable vertical scrollbar if content overflows */
}

#initial-modal {
    max-width: 50vw; /* Set maximum width to 50% of the viewport width */
    overflow-y: auto; /* Enable vertical scrollbar if content overflows */
}

/* Additional styles to make the scrollbar look better */
.start-info::-webkit-scrollbar {
    width: 8px;
}

.start-info::-webkit-scrollbar-thumb {
    background-color: #888;
}

.start-info::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}