
.country {
    fill: rgb(0, 0, 0);
    stroke: blanchedalmond;
    stroke-width: 0.8;
    animation: glow 2s linear infinite alternate;
}

@keyframes glow {
    0% {
        stroke: blanchedalmond;
    }
    100% {
        stroke: #ffcc00;
    }
}

#map {
    display: flex;
    justify-content: center;
}

.country:hover {
    fill: orange;
}