    body {
        font-family: 'Roboto', sans-serif;
    }

.country {
    fill: rgb(0, 0, 0);
    stroke: blanchedalmond;
    stroke-width: 0.8;
    animation: glow 2s linear infinite alternate;
}


.highlighted-country {
    animation: flash 1s linear infinite alternate;
}

@keyframes flash {
    0% {
        fill: #EC7D10;
    }
    100% {
        fill: #FFBC0A;
    }
}

#map {
    display: flex;
    justify-content: center;
}

.country:hover {
    fill: orange;
}

#country.highlighted {
    fill: red;
}