

#modal-country-name {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}


.modal-content {
    position: fixed;
    top: 20%;
    right: 4%;
    height: 50%;
    width: 22%;
    padding: 20px;
    background-image: linear-gradient(to bottom right, rgb(60, 60, 60), rgb(17, 17, 17));
    border-radius: 10px;
    box-shadow: 0 10px 2px -2px rgb(0, 0, 0);
    text-align: center;
    color: #ccc;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    padding: 5px 10px;
    color: #d8d8d8;
    text-decoration: none;
    font-weight: bold;
}


#flag {
    position: relative;
    top: 15px;
    width: 10vw;
    height: 10vh;
}

h2#modal-country-name {
    margin-top: 2vw;
    font-size: 32px;
    font-weight: bold;
}

p {
    font-size: 18px;
    margin: 8px 0;
    font-weight: bold;
}


p#native-name::before,
p#capital::before,
p#population::before,
p#languages-spoken::before,
p#region::before {
    content: attr(data-title);
    font-weight: normal;
    margin-right: 5px;
}

#country-info {
    display: grid;
    place-items: center;
}


#country-info p {
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: typing;
    animation-duration: 1.5s;
    animation-timing-function: steps(30, end);
    animation-fill-mode: forwards;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}


#map {
    filter: none;
}