body, ul {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 10px 20px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav .logo {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
}

.fa-github, .fa-linkedin, .logo, #pause, #play, #search-bar {
    color: blanchedalmond;
    font-family: 'Roboto', sans-serif;
    text-shadow: black 2px 3px;
}

.globe-icon {
    margin-top: 1px;
    width: 20px;
    margin-left: 10px;
}
