@import url(styles/map.scss);
@import url(styles/country_name_box.scss);

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(49, 49, 49);
    margin: 0%
}